.login {
  background-color: #eff1f2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.login-wrap {
  height: 400px;
  width: 600px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 8px rgb(190, 188, 188);
}

.login-form {
  width: 400px;
  margin-left: 60px;
}
